/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Remise à zéro de la liste */
ul {
    list-style: none;
}

/* Styles spécifiques */
header, footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* Styles pour la barre de navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour la partie connexion */
#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

#loginTitle {
    margin-bottom: 10px;
}

#login label {
    display: block;
    margin-bottom: 10px;
}

#login input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#login button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#login button:hover {
    background-color: #555;
}


nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 20px;
}
